<%- include header.ejs %>

<div class="body-wrapper">
    <ul class="menu">
        <li>Online shop </li>
        <li><a href="mens">Mens</a></li>
        <li><a href="womens">Womens</a></li>
    </ul>

    <a href="/">Home</a>
    <span>/</span>
    <a href="<%= gender.name.toLowerCase() %>"><%= gender.name %></a>
    
    <h1><%= gender.name %></h1>
    <p><%= categoryDescription%></p>
    <h2>Subcategories</h2>
    <% _.each(gender.categories, function(topC){ %>
        <h3><%= topC.name %></h3>

        <% if (topC.image) { %>
        <img src="/images/<%= topC.image %>">
        <% } %>

        <p><%= topC.page_description %></p>

        <a href="<%= gender.name.toLowerCase() %>/<%= topC.name.toLowerCase()%>">View products</a>

    <% }); %>

</div>

<%- include footer.ejs %>