<%- include header.ejs %>

<div class="body-wrapper">


    <h1 id="headline" ><%= product.name %></h1>
    <p><%= product.page_description %></p>
    <img src="/images/<%= product.image_groups[0].images[0].link %>">
    <p>Price: </p>
    <ul>
        <li value="<%= product.price %>" class="price"><%= product.price %> </li>
        <li class="price-currency"><%= product.currency %></li>
    </ul>

    <select class="currency">
        <% currencies.forEach((currency) => { %>
            <option value="<%= currency.Value %>" id="currency-option" name="<%= currency.IDMoneda %>"><%= currency.IDMoneda %></option>
        <% }) %>
    </select>
    
    </div>

<%- include footer.ejs %>