<%- include header.ejs %>

<div class="body-wrapper">


    <h1><%= name %></h1>
    <p><%= page_description %></p>
    <img src="/images/<%= image_groups[0].images[0].link %>">
    <a>Buy now</a>
    <span>Price: <%= price %> <%= currency %></span>

</div>

<%- include footer.ejs %>