<%- include header.ejs %>

<div class="body-wrapper">

    <ul class="menu">
        <li>Online shop </li>
        <li><a href="/mens">Mens</a></li>
        <li><a href="/womens">Womens</a></li>
    </ul>

    <a href="/">Home</a>
    <span>/</span>
    <a href="/<%= name.toLowerCase() %>"><%= name %></a>

    <% categories.forEach((elem) =>{ %>
        <h1><%= elem.name %></h1>
        <p><%= elem.page_description%></p>
        <% if (elem.image) { %>
          <img src="/images/<%= elem.image %>">
        <% } %>
        <a href="<%= name.toLowerCase() %>/<%= elem.name.toLowerCase()%>">More Info</a>
    <% }) %>
</div>

<%- include footer.ejs %>